<!DOCTYPE html>
<html>
<head>
  <title>Criminal Investigation</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
  <%= render 'layouts/header' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


 <% if user_signed_in? %>
    <ul class="tabs">
    <li><a href="../criminals">Home</a></li>
    <li><a href="../criminals/new">Upload Photo</a></li>
    </ul>
<%end%>
<%= yield %>

</body>
  <%= render 'layouts/footer' %>
</div>
</html>
