<!DOCTYPE html>
<html>
<head>
  <title>Criminal Investigation</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <header>
  <%= render 'layouts/header' %>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </div>
</body>
<%= render 'layouts/footer' %>
</div>
</html>
